body {
	font-family: Arial;
       font-size: 10pt;
	margin: 0;
	padding: 0;
	text-align: center;
}

#content-wrapper {
	width: 80%;
	max-width: 900px;
	margin: 0 auto;
	background: #fff;
	padding: 1px; /* stop margins collapsing */
}

#content {
	margin: 25px;
	text-align: left;
}

#home h1,
#home h2 {
	font-family: Georgia;
	text-align: center;
}

#home h1 {
       font-size: 28pt;
}

#home h2 {
       font-size: 22pt;
}

#home-intro-panel {
	padding: 10px;
	background: #eee;
}

#home div.wardobe-section {
	text-align: center;
	border-bottom: 1px dashed #ccc;
	padding-bottom: 20px;
}

#home div.wardobe-section:last-child {
	border: 0;
}

#home div.wardobe-item {
	display: inline-block;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	height: 250px;
	width: 250px;
}

#home div.wardobe-item p {
	font-weight: bold;
	margin: 10px 0 0 0;
}

#home div.wardrobe-section-intro p {
       font-style: italic;
}
