body {
	font-family: Arial;
	font-size: 10pt;
	margin: 0;
	padding: 0;
	text-align: center;
}

.column-wrapper {
	width: 80%;
	max-width: 900px;
	margin: 0 auto;
	padding: 1px; /* stop margins collapsing */
}

.column-content {
	margin: 20px;
	text-align: left;
}

#top-nav {
	width: 100%;
	background: #666;
	text-align: center;
}

#top-nav a {
	color: #eee;
	margin-right: 10px;
}

#top-nav .column-content {
	margin-top: 10px;
	margin-bottom: 10px;
}

#header h1 {
	font-family: sans-serif;
	font-weight: lighter;
	text-transform: uppercase;
	font-size: 40pt;
	letter-spacing: -4px;
	color: #999;
}

#home h1,
#home h2 {
	font-family: Georgia;
	text-align: center;
}

#home h1 {
	font-size: 28pt;
}

#home h2 {
	font-size: 22pt;
}

#home-intro-panel {
	padding: 10px;
	background: #eee;
}

#home div.wardobe-section {
	text-align: center;
	border-bottom: 1px dashed #ccc;
	padding-bottom: 20px;
}

#home div.wardobe-section:last-child {
	border: 0;
}

#home div.wardobe-item {
	display: inline-block;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	height: 250px;
	width: 250px;
}

#home div.wardobe-item p {
	font-weight: bold;
	margin: 10px 0 0 0;
}

#home div.wardrobe-section-intro p {
	font-style: italic;
}

#footer {
	background: #333;
	padding: 50px;
}

#footer span,
#footer a {
	color: #666;
	margin-right: 10px;
}
